./dist
**/dist/**
node_modules
app/bower_components
app/styles/css
app/styles/images/theme
app/sourcemaps
app/components/**/templates.js
.tmp
.sass-cache
.sonar/
reports
doc/
*.log
demo/index*.TMP
*.tar.gz
/test/reports/
/test/coverage/
/test/unit/test-results.xml
/nbproject
/.idea/
*.iml
*.tgz
*.zip
