<div class="mt60"></div>
<div id="anchor0"  class="container-fluid anchor"  ng-mouseover="changeCurrentTab(0)">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../styles/images/portada1.png" alt="Máster de implantología y prótesis oral." width="100%">
                <div class="carousel-caption">Máster de implantología y prótesis oral.</div>
                <div class="carousel-caption subtitle">Universidad de Barcelona</div>
            </div>
            <div class="item">
                <img src="../styles/images/portada1.jpg" alt="Máster de implantología y prótesis oral." width="100%">
                <div class="carousel-caption">Máster de implantología y prótesis oral.</div>
                <div class="carousel-caption subtitle">Universidad de Barcelona</div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>



    <div class="mt100"></div>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">logo</div>
    <div class="col-md-4"></div>
    </div>
    <div class="mt100"></div>
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>    
        <div class="col-md-8 col-xs-10 text-center presentation">
            <p>El máster de implantología y prótesis oral comenzó a funcionar en la Universidad de Barcelona en el año 2004, bajo la dirección del Dr. Joan Salsench, el Dr. Carlos Mendieta y con la coordinación del Dr. Pablo Barenblit. </p>
        </div>
        <div class="col-md-2 col-xs-1"></div>  
    </div>
    <div class="mt60"></div> 
    <div class="row">
        <div class="col-md-4 mt15 text-center">
            <div class="row">
                <div class="col-md-4 col-xs-1"></div>
                <div class="col-md-7 col-xs-10 title2">
                    Nace con el objetivo de ofrecer una formación integral en implatología, desde el diagnóstico protético, la colocación de implantes en su fase quirúrgica, hasta la confección de la prótesis definitiva.
                </div>
                <div class="col-md-1 col-xs-1"></div>
            </div>    
        </div>
        <div class="col-md-4 mt15 text-center">
            <div class="row">
                <div class="col-md-3 col-xs-1"></div>
                <div class="col-md-7 col-xs-10 title2">
                    Para brindar a los residentes del máster una temática y práctica completa con el fin de hacer todo el camino de la implantología y así ofrecer a los pacientes del Hospital Universitario de Bellvitge un servicio integral.
                </div>
                <div class="col-md-2 col-xs-1"></div>
            </div> 
        </div>
        <div class="col-md-4 mt15 text-center title2">
            <div class="row">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-8 col-xs-10 title2">
                    Con un excelente cuadro de docentes colaboradores hemos ido adaptando la docencia a las novedades de la ciencia para estar siempre en primera línea de la actividad asistencial y así ofrecer una formación de máxima calidad.
                </div>
                <div class="col-md-3 col-xs-1"></div>
            </div>
        </div>
    </div>
    <div class="mt100"></div>     
</div>
<div id="anchor1"  class="container-fluid anchor" ng-mouseover="changeCurrentTab(1)">
    <div class="jumbotron custom home">
        <div class="row">
            <div class="col-md-12 cabecera text-center">
                Información general del master
            </div>
        </div>
        <div class="row mt30" style="line-height: 1.7em">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                El Máster de Clínica en Implantología y Protesis Oral <b>comenzará el día 08/01/2018</b> y se impartirá los días <b>martes, miércoles y viernes, de 15 a 21</b> en el Hospital Odontológico Universidad de Barcelona.
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="mt60"></div> 
        <div class="row">
            <div class="col-md-1  col-xs-1"></div>
            <div class="col-md-10  col-xs-10 bordercolor"></div>
            <div class="col-md-1  col-xs-1"></div>
        </div>
        <div class="mt60"></div> 
        <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-10 col-xs-10">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="row mt1fake"><span class="seccion">TIPO DE CURSO</span></div>
                        <div class="row"><span class="seccionContent">Master</span></div>
                        <div class="row"><span class="seccionContent">(Título Universitat Barcelona)</span></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="row mt1fake"><span class="seccion">DIRECCIÓN</span></div>
                        <div class="row mt10"><span class="seccionContent">Salsench Cabre, Joan</span></div>
                        <div class="row"><span class="seccionContent">Mendieta Fiter, Carles</span></div>
                        <div class="row"><span class="seccionContent">Barenblit Scheinin, Pablo</span></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="row mt1fake"><span class="seccion">DURACIÓN</span></div>
                        <div class="row mt10"><span class="seccionContent">3 años académicos (5 semestres)</span></div>
                    </div>
                </div>
                <div class="mt60"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="row"><span class="seccion">MODALIDAD</span></div>
                        <div class="row mt10"><span class="seccionContent">Presencial</span></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                         <div class="row mt1fake"><span class="seccion">CENTRO IMPULSOR</span></div>
                        <div class="row mt10"><span class="seccionContent">Facultad de Medicina y</span></div>
                        <div class="row"><span class="seccionContent">Ciencias de la Salud</span></div>
                        <div class="row"><span class="seccionContent">(Odontología)</span></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="row mt1fake"><span class="seccion">PRÁCTICAS EN EMPRESAS</span></div>
                        <div class="row"><span class="seccionContent">Sí (consultar las condiciones</span></div>
                        <div class="row"><span class="seccionContent">con la dirección del curso)</span></div>
                    </div>
                </div>  
                <div class="mt100"></div>
                <div class="row">
                    <div class="col-md-12  col-sm-12">
                        <div class="row" >
                            <div class="col-md-4  col-sm-4 text-center" style="padding:30px; border:1px solid #EEEEEE">
                                <div class="row seccion">PRIMER AÑO</div>
                                <div class="row mt15 price">11.950 €</div>
                            </div>
                            <div class="col-md-4 col-sm-4 text-center" style="padding:30px; border:1px solid #EEEEEE">
                                <div class="row seccion">SEGUNDO AÑO</div>
                                <div class="row mt15 price">11.950 €</div>
                            </div>
                            <div class="col-md-4 col-sm-4 text-center" style="padding:30px; border:1px solid #EEEEEE">
                                <div class="row seccion">TERCER AÑO</div>
                                <div class="row mt15 price">1.120 €</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row mt30 extraInfo">
                    A este precio se le podrá aplicar un incremento de como máximo 70 € en concepto de tasa administrativa.
                 </div>   
            </div>
            <div class="col-md-1 col-xs-1"></div>
        </div>
        <div class="mt60"></div>
    </div>
</div>
<div id="anchor2"  class="container-fluid anchor" ng-mouseover="changeCurrentTab(2)">
    <div class="mt60"></div>
    <div class="row">
        <div class="col-md-12 text-center cabecera">Noticias</div>
    </div>
    <div class="mt60"></div>
</div>
<div id="anchor3"  class="container-fluid anchor" ng-mouseover="changeCurrentTab(3)">
    <div class="jumbotron custom home">
        <div class="row">
            <div class="col-md-12 cabecera text-center">
                Plan de estudios
            </div>
        </div>
        <div class="mt60"></div> 
        <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-10 col-xs-10">
                <div class="row">
                    <div class="col-md-12 seccion text-center">
                        <b>PRÓTESIS</b>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="row"><span class="seccionContent">1. Conceptos y tipos de prótesis sobre implantes</span></div>
                        <div class="row"><span class="seccionContent">2. Prótesis fija sobre implantes: sustitución de un diente ausente</span></div>
                        <div class="row"><span class="seccionContent">3. Prótesis fija sobre implantes. Sustitución de tramos intercalares</span></div>
                        <div class="row"><span class="seccionContent">4. Prótesis fija sobre implantes. Sustitución de extremos entregas</span></div>  
                        <div class="row"><span class="seccionContent">5. Rehabilitación total sobre implantes mediante prótesis fija. Maxilar o mandibular</span></div>  
                        <div class="row"><span class="seccionContent">6. Rehabilitación total sobre implantes mediante prótesis removible</span></div>  
                        <div class="row"><span class="seccionContent">7. Mantenimiento a largo plazo de la prótesis sobre implantes</span></div>  
                    </div>
                </div>
                <div class="mt60"></div>
                <div class="row mt10">
                     <div class="col-md-12 seccion text-center">
                        <b>IMPLANTOLOGÍA</b>
                    </div>
                </div>    
                <div class="row mt30"> 
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="row"><span class="seccionContent">1. Introducción. Antecedentes históricos de la Implantología. Situación actual.</span></div>
                        <div class="row"><span class="seccionContent">2. Anatomía: Maxilar superior</span></div>
                        <div class="row"><span class="seccionContent">3. Anatomía: Maxilar inferior</span></div>
                        <div class="row"><span class="seccionContent">4. Bases de la Osteointegración</span></div>  
                        <div class="row"><span class="seccionContent">5. Estudio preoperatorio del paciente</span></div>  
                        <div class="row"><span class="seccionContent">6. Estudio oral y modelos de diagnóstico</span></div>  
                        <div class="row"><span class="seccionContent">7. Estudio radiográfico</span></div>  
                        <div class="row"><span class="seccionContent">8. Férulas radiológicas y férulas quirúrgicas</span></div>
                        <div class="row"><span class="seccionContent">9. Plan de tratamiento</span></div>
                        <div class="row"><span class="seccionContent">10. Instrumental</span></div>
                        <div class="row"><span class="seccionContent">11. Preparación del campo quirúrgico</span></div>  
                    </div>
                    <div class="col-md-5">
                        <div class="row"><span class="seccionContent">12. Preparación del paciente</span></div>  
                        <div class="row"><span class="seccionContent">13. Técnica quirúrgica</span></div>  
                        <div class="row"><span class="seccionContent">14. Curas postoperatorias</span></div>  
                        <div class="row"><span class="seccionContent">15. Implantes para diente unitario</span></div>
                        <div class="row"><span class="seccionContent">16. Pacientes parcialmente edéntulos</span></div>
                        <div class="row"><span class="seccionContent">17. Pacientes edéntulos</span></div>
                        <div class="row"><span class="seccionContent">18. Técnicas de regeneración ósea</span></div>  
                        <div class="row"><span class="seccionContent">19. Técnicas especiales</span></div>  
                        <div class="row"><span class="seccionContent">20. Manejo de tejidos blandos</span></div>  
                        <div class="row"><span class="seccionContent">21. Complicaciones biológicas de los implantes</span></div>  
                        <div class="row"><span class="seccionContent">22. Mantenimiento del paciente portador de implantes</span></div>  
                    </div>
                </div>
                <div class="mt60"></div>
            </div>
            <div class="col-md-1 col-xs-1"></div>
        </div>
        <div class="mt60"></div>
    </div>
</div>
<div id="anchor4" class="container-fluid anchor" ng-mouseover="changeCurrentTab(4)">
   <div class="mt60"></div>
   <div class="row">
       <div class="col-md-12 text-center cabecera">Equipo docente</div>
   </div>
    <div class="mt60"></div>
   <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-10">
           <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-md-12" style="height:200px; border-right: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">JOAN SALSENCH CABRE</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Dirección</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-md-12" style="height:200px;border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">CARLES MENDIETA FITER</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Dirección</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-md-12" style="height:200px; border-left: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">PABLO BARENBLIT SCHEININ</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Dirección</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row mt30">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-right: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">JOAN SALSENCH CABRE</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px;border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">CARLES MENDIETA FITER</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">PABLO BARENBLIT SCHEININ</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-left: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">PABLO BARENBLIT SCHEININ</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row mt30">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-right: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">JOAN SALSENCH CABRE</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px;border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">CARLES MENDIETA FITER</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">PABLO BARENBLIT SCHEININ</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-left: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">PABLO BARENBLIT SCHEININ</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row mt30">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-right: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">JOAN SALSENCH CABRE</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px;border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">CARLES MENDIETA FITER</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">PABLO BARENBLIT SCHEININ</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-md-12" style="height:150px; border-left: 1px solid #ffffff; background-color:#CCC">
                        
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">PABLO BARENBLIT SCHEININ</div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">Doctor</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
       <div class="col-md-1"></div>
   </div>
   <div class="mt100"></div>
</div>
<div id="anchor6"  class="container-fluid clinica anchor" ng-mouseover="changeCurrentTab(6)">
    <div class="mt60"></div>
    <div class="row">
        <div class="col-md-12 cabecera text-center">
            Área clínica
        </div>
    </div>
    <div class="mt60"></div>
    <div class="row">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-1 col-xs-1"><div style="width:20px; height: 2px; background-color:#213e7f"></div></div>
        <div class="col-md-10 col-xs-9"></div>
    </div>
    <div class="row mt10 subtitle">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            DOCENCIA
        </div>
        <div class="col-md-1 col-xs-1"></div>
    </div>
    <div class="row mt20" style="line-height: 1.7em">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            Durante el año académico, los alumnos seguirán un <b>programa docente formado por teoría básica y avanzada</b>, seminarios preclínicos, análisis de estudios y revisiones bibliográficas, y presentaciones orales de casos clínicos.
        </div>
        <div class="col-md-1 col-xs-1"></div>
    </div>
    <div class="mt60"></div>
    <div class="row">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-1 col-xs-1"><div style="width:20px; height: 2px; background-color:#213e7f"></div></div>
        <div class="col-md-10 col-xs-9"></div>
    </div>
    <div class="row mt10 subtitle">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            CLÍNICA
        </div>
        <div class="col-md-1 col-xs-1"></div>
    </div>
    <div class="row mt20" style="line-height: 1.7em">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            El Máster de Clínica en Implantología y Protesis Oral <b>da servicio en el Hospital Odontológico de Bellvitge</b> (HOB), donde se desarrollan los siguientes tratamientos orales:
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row mt30" style="line-height: 1.7em">
        <div class="col-md-1"></div>
        <div class="col-md-10 features">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li class="mt20">Implantes dentales para diente unitario</li>
                        <li class="mt20">Implantes múltiples para varios dientes</li>
                        <li class="mt20">Implantes post-extracción</li>
                        <li class="mt20">Regeneración Ósea Guiada</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li class="mt20">Rehabilitación protéstica unitaria y múltiple</li>
                        <li class="mt20">Carga protéstica inmediata</li>
                        <li class="mt20">Injertos de tejido conectivo</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row mt30" style="line-height: 1.7em">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            Todo tratamiento realizado en nuestro departamento <b>debe ser evaluado en sesión clínica, bajo rigurosos estudio del historial clínico del paciente,</b> valoración y discusión de opciones de tratamiento, expectativas del paciente y pertinentes pruebas radiográficas y médicas complementarias que fueran precisas.
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="mt60 mb30"></div>
</div>
<div id="anchor7"  class="container-fluid  contacto anchor" ng-mouseover="changeCurrentTab(7)">
    <div class="mt60"></div>
    <div class="row">
       <div class="col-md-12 text-center cabecera">Contacto</div>
   </div>
    <div class="mt60"></div>
    <div class="row" style="line-height: 1.7em">
        <div class="col-md-1 col-xs-0"></div>
        <div class="col-md-10 col-xs-12" style="border-bottom: 1px solid #CCC">
            <div class="row mb50">
                <div class="col-md-4 col-sm-4">
                    <div class="row mt15">
                         <div class="col-md-3 col-xs-3">
                             <img src="../../styles/images/casa.png">
                         </div>
                         <div class="col-md-9 col-xs-9">
                             <div class="row title">INSTITUCIÓN</div>
                             <div class="row seccionContent">Facultad d'Odontología</div>
                         </div>
                    </div>    
                </div>
                <div class="col-md-5 col-sm-4">
                    <div class="row mt15">
                         <div class="col-md-3 col-xs-3">
                             <img src="../../styles/images/direction.png">
                         </div>
                         <div class="col-md-9 col-xs-9">
                             <div class="row title">DIRECCIÓN</div>
                             <div class="row seccionContent">Pavelló de Govern, 2pl. c. Feixa Llarga</div>
                             <div class="row seccionContent">s/n 08907 Hospitalet (Barcelona) Espanya</div>
                         </div>
                    </div> 
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="row mt15">
                         <div class="col-md-3 col-xs-3">
                             <img src="../../styles/images/mail.png">
                         </div>
                         <div class="col-md-9 col-xs-9">
                             <div class="row title">EMAIL</div>
                             <div class="row seccionContent">cmendieta@ub.edu</div>
                             <div class="row seccionContent">pablobarenblit@ub.edu</div>
                         </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-1 col-xs-0"></div>
    </div>
    <div class="mt60"></div>
    <div class="row" style="line-height: 1.7em">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            Para obtener más información puedes contactar con el <b>Dr. Carles Mendieta</b> o el <b>Dr. Pablo Barenblit</b> llamando al <b>934024255</b>, los días lunes, jueves y viernes de 12 a 13h.
        </div>
        <div class="col-md-1 col-xs-1"></div>
    </div>
    <div class="mt100"></div>
    <div map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map center="41.345653, 2.106107" zoom="14" style="height:600px">
             <marker position="[41.345653, 2.106107]"></marker>
        </ng-map>
    </div>
    <div class="mt100"></div>
</div>
